<h1>Instagram</h1>
<%= link_to "Sign up", new_user_registration_path, class:"sign-up" %>
<% if user_signed_in? %>
  <h1>Добро пожаловать во временную петлю, <%= current_user.email %>!</h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
